<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDawXDwfonbtat3NDuCwxIYj3yfsYMfZPg</string>
	<key>GCM_SENDER_ID</key>
	<string>59848967014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.eventManagemenet</string>
	<key>PROJECT_ID</key>
	<string>event-93268</string>
	<key>STORAGE_BUCKET</key>
	<string>event-93268.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59848967014:ios:0afe6197d4a6c7c7397ea7</string>
</dict>
</plist>